#background{
    background-color: #ffffffe3;
}
#myslide {
    padding-top: 40px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#contactform {
    padding-top: 40px;
}